In [1]:
import pandas as pd

df = pd.read_excel('gastos2.xlsx')

In [2]:
df = df.groupby(['Date', 'Cuenta'],as_index=False)
df1= df[['Precio']].sum()
df1[:10]

        Date               Cuenta      Precio
0 2020-01-01   Manten.Edif.Constr        0.00
1 2020-01-01  Mantención Máquinas -5156353.45
2 2020-01-02  Mantención Máquinas   109917.00
3 2020-01-02   Mater.Rept.Lubric.   179506.46
4 2020-01-03   Mater.Rept.Lubric.   155561.96
5 2020-01-06   Mater.Rept.Lubric.   249582.64
6 2020-01-07  Mantención Máquinas   158380.00
7 2020-01-07   Mater.Rept.Lubric.  4261180.88
8 2020-01-08  Mantención Máquinas    13762.00
9 2020-01-08   Mater.Rept.Lubric.   389666.80

In [3]:
per = df1.Date.dt.to_period("M")
g = df1.groupby(per)
g.sum()

              Precio
Date
2020-01   8349990.64
2020-02  18684549.75
2020-03  18834824.06
2020-04  19566892.99
2020-05  17267097.45
2020-06  16828513.40
2020-07  23795272.53
2020-08  15473295.35
2020-09  11819955.29
2020-10  18735033.87
2020-11  16151328.70
2020-12   8734370.54

In [15]:
df_grouped = df.loc[:, ["Date", "Cuenta", "Precio"]]
df_grouped = df_grouped.groupby(["Date", "Cuenta"])
df_grouped
for key, item in df_grouped:
    group = df_grouped.get_group(key)
    print(group, "\n")